# Exim4 Domain Address Rewrite file for {{ item.key }}

{% if item.value.local_rewrites is defined %}
{% for vrewrite, vto in item.value.local_rewrites.items() %}
{{ vrewrite }}:	{{ vto }}
{% endfor %}
{% endif %}
