# Exim4 Domain Aliases file for {{ vdomain.key }}

# The standard aliases for any domain:
{% for valias in exim_all_domain_aliases %}
{% if vdomain.value.local_aliases[valias] is not defined %}
{{ valias }}:	postmaster
{% else %}
# {{ valias }} is overriden by a local alias
{% endif %}
{% endfor %}

{% if vdomain.value.local_aliases is defined %}
{% for valias, vto in vdomain.value.local_aliases.items() %}
{{ valias }}:	{{ vto }}
{% endfor %}
{% endif %}

